## T-Test Results for Historical Spills
T-Statistic: 3.9419
P-Value: 0.0001
The difference in response time for historical spills is statistically significant.

## T-Test Results for Recent Spills
T-Statistic: 1.9390
P-Value: 0.0525
The difference in response time for recent spills is not statistically significant.
